body
{
    background-image: url(../wallpaper/WhatsApp\ Image\ 2024-11-29\ at\ 2.27.57\ PM.jpeg);
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
.form-control
{
    background-color:rgba(255,255, 255,0.2);
    color: white;
}
.form-control:checked
{
    background-color:rgba(255,255, 255,0.2) !important ;
    color: black !important;
}
.completed
{
    text-decoration: line-through !important;
    opacity: 0.5 !important;

}